<globular-app-layout (loaded)="onComponentLoaded($event)" application-name="globular-console">
  <div slot="app-side-menu">
    <globular-sidebar header-background-image="assets/images/sidebar_head_bg.png">
      <img slot="header-logo" src="assets/images/logo.png" alt="logo" style="width: 64px;" />
      <span slot="header-title">Cloud Console</span>
      <span slot="header-subtitle">cluster manager</span>
      <globular-sidebar-menu>
        <globular-sidebar-menu-item icon="assets/icons/cluster.svg" routerLink="/cluster" text="Cluster"></globular-sidebar-menu-item>
        <globular-sidebar-menu-item icon="assets/icons/cloud-services-icon.svg" routerLink="/services" text="Services"></globular-sidebar-menu-item>
        <globular-sidebar-menu-item icon="assets/icons/user-settings-svgrepo-com.svg" routerLink="/users" text="Users"></globular-sidebar-menu-item>
        <globular-sidebar-menu-item icon="assets/icons/team-svgrepo-com.svg" routerLink="/groups" text="Groups"></globular-sidebar-menu-item>
        <globular-sidebar-menu-item icon="assets/icons/organization-icon-original.svg" routerLink="/organizations" text="Organizations"></globular-sidebar-menu-item>
        <globular-sidebar-menu-item icon="assets/icons/eye-mask-svgrepo-com.svg" routerLink="/roles" text="Roles"></globular-sidebar-menu-item>
        <globular-sidebar-menu-item icon="assets/icons/application-windows-svgrepo-com.svg" routerLink="/applications" text="Applications"></globular-sidebar-menu-item>
        <globular-sidebar-menu-item icon="assets/icons/shield_lock_outline_icon.svg" routerLink="/permissions" text="Permissions"></globular-sidebar-menu-item>
      </globular-sidebar-menu>
    </globular-sidebar>
  </div>
  <div slot="app-title"></div>

  <div slot="contextual-action-bar">Menu</div>
  <div slot="app-content" style="height: calc(100vh - 80px); overflow-y: auto;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</globular-app-layout>